body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 0 0 10px 0;
}

form {
    margin: 20px 0;
}

input {
    padding: 10px;
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #red;
    margin: 5px 0;
    padding: 5px;
    border: 0px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

/* Menüpontok stílusa */
nav ul {
    list-style-type: none; /* Eltávolítja a listapontokat */
    margin: 0;
    padding: 0;
    display: flex; /* Flexbox használata a horizontális elrendezéshez */
    justify-content: left; /* Balra igazítja a menüpontokat */
}

nav ul li a {
    text-decoration: none; /* Eltávolítja az aláhúzást */
    color: white; /* Szöveg színe */
    font-weight: bold;
}

nav ul li a:hover {
    color: #007bff; /* Hover (egérrel rámutatás) esetén kék szín */
}

nav ul li {
    position: relative; /* Szükséges a dropdown pozicionálásához */
    margin: 0 5px; /* Távolság a menüpontok között */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    color: #007bff;
}

/* Dropdown menü alapértelmezett rejtése */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    flex-direction: column;
    min-width: 200px; /* A menü szélessége */
}

/* A lenyíló menüpont elemeinek stílusa */
.dropdown-content a {
    color: white;
    padding: 10px;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #555; /* Hover esetén a háttér színe */
}

/* A dropdown menü megjelenítése hover esetén */
.dropdown:hover .dropdown-content {
    display: flex;
}

/* A fő menüpont hover állapotában a szín */
.dropbtn:hover {
    color: #007bff;
}

